
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giriş Yap</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>UKSS</b>Panel
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Erişim sağlamak için giriş yapın.</p>

                <form action="/Auth/Login" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Şifre" name="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <!-- /.social-auth-links -->

                <p class="mb-1">
                    Şifreni Unutma
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE/dist/js/adminlte.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
@if (ViewBag.ErrMsg != null)
{
    <script>
            Swal.fire({
                            title: 'Hoop!',
                text: '@ViewBag.ErrMsg',
                icon: 'error',
                confirmButtonText: 'Ah be abi',
                html: '@ViewBag.ErrMsg'
            })
    </script>
}
@if (ViewBag.Success != null)
{
    <script>
            Swal.fire({
                title: 'Başarılı',
                text: '@ViewBag.Success',
                icon: 'success',
                confirmButtonText: 'Güzel',
                html: '@ViewBag.Success'
            })
    </script>
}
@if (TempData["Success"] != null)
{
    <script>
            Swal.fire({
                title: 'Başarılı',
                text: '@TempData["Success"].ToString()',
                icon: 'success',
                confirmButtonText: 'Güzel',
                html: '@TempData["Success"].ToString()'
            })
    </script>
}
@if (TempData["ErrMsg"] != null)
{
    <script>
            Swal.fire({
                title: 'Hoop!',
                text: '@TempData["ErrMsg"].ToString()',
                icon: 'error',
                confirmButtonText: 'Ah be abi',
                html: '@TempData["ErrMsg"].ToString()'
            })
    </script>
}
