@using ProjectFINAL.Helper;
@using Project.Entity;
@model Project.Entity.PlannedWaterings
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var wateringType = Model.WateringType;
    var isTimer = (Model.WateringType == Project.Entity.WateringType.Timer).ToString().ToLower(); ;
    string isHumidity = (Model.WateringType == Project.Entity.WateringType.Humidity).ToString().ToLower();
}

<link rel="stylesheet" href="~/Content/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<div class="d-flex justify-content-center">
    <div class="col-md-6 mt-5">
        <form action="/Plant/WateringOptions" method="post" id="optionsForm">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Sulama Seçenekleri</h3>
                </div>
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                @Html.HiddenFor(x => x.PlantId)
                <div class="card-body">

                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="typeRadio" id="typeRadio">
                            <input type="hidden" value="2" name="WateringType" id="WateringType" />
                            <label class="custom-control-label" for="typeRadio">Nem oranına göre sulama</label>
                        </div>
                    </div>
                    <div id="hourBlock">
                        <div class="form-group">
                            <label for="Period">Periyot</label>
                            @{
                                var periodList = Helper.GetEnumValuesAndDescriptions<Period>();
                            }
                            <select class="custom-select rounded-0">
                                @foreach (var item in periodList)
                                {
                                    <option value="@item.Value">@item.Key</option>
                                }
                            </select>
                            @*@Html.EnumDropDownListFor(x => x.Period, "Birini Seçin", new { @class = "custom-select rounded-0", required = true })*@
                        </div>

                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Sulama saati giriniz</label>
                                @{ 
                                    
                                }
                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" 
                                           data-target="#timepicker" 
                                           name="WateringHour" 
                                           value="@(Model.WateringHour.HasValue ? (Model.WateringHour.Value.Hour + ":" + Model.WateringHour.Value.Minute):"")" />
                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div id="humidityBlock" class="form-group" style="display:none">
                        <label for="LimitHumidityRate">Nem oranı limiti (%)</label>

                        <input type="number" class="form-control" value="@Model.LimitHumidityRate" name="LimitHumidityRate" id="LimitHumidityRate" placeholder="Örnek:45">
                    </div>
                    <div class="form-group">
                        <label for="WateringSecond">Sulama süresi (saniye)</label>
                        @Html.TextBoxFor(x => x.WateringSecond, new { type = "number", placeholder = "Örnek:60", required = true, @class = "form-control" })

                    </div>


                    <!-- /input-group -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-info">Kaydet</button>
                    <div class="btn btn-danger"><a href="/Home/Index" style="color:white">Vazgeç</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/AdminLTE/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="~/Content/AdminLTE/plugins/jquery-validation/additional-methods.min.js"></script>
<script src="~/Content/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script>

    $(document).ready(function () {
        if (@isHumidity) {

            $("#typeRadio").click();
        }
        $('#timepicker').datetimepicker({
            format: 'HH:mm'
        })
    })

    $("#typeRadio").on('click', function () {
        if ($(this).is(":checked") == true) {
            $("#humidityBlock").show('slow');
            $("#hourBlock").hide('slow');
            $("#WateringType").val("1");
            $("#LimitHumidityRate").attr("required", true);
            $("#WateringHour").attr("required", false);
            $("#WateringSecond").attr("required", false);
            $("#Period").attr("required", false);
        }
        else {
            $("#humidityBlock").hide('slow');
            $("#hourBlock").show('slow');
            $("#WateringType").val("2");
            $("#LimitHumidityRate").attr("required", false);
            $("#WateringHour").attr("required", true);
            $("#WateringSecond").attr("required", true);
            $("#Period").attr("required", true);
        }

    })



</script>
