@using Project.Entity;
@using Project.Business;
@using ProjectFINAL.Controllers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/dropzone/min/dropzone.min.css">
    @RenderSection("Header", required: false)
</head>
@{


    var user = new UserService().GetById((int)Session["Id"]).Data;
    var checkIfManager = user.IsAdmin; // TEST ORTAMI İÇİN OTOMATİK TRUE YAPILDI
    var plants = new PlantService().GetPlantListById(user.Id).Data;

}
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/" class="nav-link">Anasayfa</a>
                </li>
            </ul>

            <!-- Right navbar links -->

        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4" id="main-sidebar" style="height:100vh">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/Content/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">

                <span class="brand-text font-weight-light">UKSS</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@user.Name @user.Surname<span class="badge badge-info  mx-2"></span></a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Ara.." aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        @if (user.IsAdmin)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-user-lock"></i>
                                    <p>
                                        Yönetim Paneli
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Management/AddUser" class="nav-link">
                                            <i class="far fa-circle nav-icon text-teal"></i>
                                            <p>Kullanıcı Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Management/UserList" class="nav-link">
                                            <i class="far fa-circle nav-icon text-teal"></i>
                                            <p>Kullanıcıları Görüntüle</p>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Plant/AddPlant" class="nav-link">
                                            <i class="far fa-circle nav-icon text-teal"></i>
                                            <p>Bitki Tanımla</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-header">KULLANICI PANELİ</li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-divider"><hr /></li>
                        <li class="nav-header">BİTKİLER</li>
                        @foreach (var plant in plants)
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link">
                                    <i class="nav-icon fa fa-tree"></i>
                                    <p>
                                        @plant.Name
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Plant/Status/@plant.Id" class="nav-link">
                                            <i class="far fa-circle nav-icon text-warning"></i>
                                            <p>Bitki Durumu</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Plant/WateringOptions/@plant.Id" class="nav-link">
                                            <i class="far fa-circle nav-icon text-warning"></i>
                                            <p>Sulama Ayarları</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Plant/PlannedWaterings/@plant.Id" class="nav-link">
                                            <i class="far fa-circle nav-icon text-warning"></i>
                                            <p>Planlı Sulamalar</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        @*<li class="nav-item">
        <a href="javascript:;" class="nav-link">
                <i class="nav-icon fa fa-tree"></i>
                <p>
                    Bitki (Bitki-Adı)
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Plant/Status" class="nav-link">
                        <i class="far fa-circle nav-icon text-warning"></i>
                        <p>Bitki Durumu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Plant/WateringOptions" class="nav-link">
                        <i class="far fa-circle nav-icon text-warning"></i>
                        <p>Sulama Ayarları</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Plant/PlannedWaterings" class="nav-link">
                        <i class="far fa-circle nav-icon text-warning"></i>
                        <p>Planlı Sulamalar</p>
                    </a>
                </li>>
            </ul>
        </li>*@
                        <li class="nav-item">
                            @*KULLANICI BİTKİ OLUŞTURDUKÇA BURASI TEKRAR EDECEK. DİNAMİKLEŞTİRİLECEK İD'SİNE GÖRE' *@
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa-solid fa-user"></i>
                                <p>
                                    Kullanıcı İşlemleri
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/User/Profile/@user.Id" class="nav-link">
                                        <i class="nav-icon fa-solid fa-user-gear"></i>
                                        <p> Profilim</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Auth/Logout" class="nav-link">
                                        <i class="nav-icon fa-solid fa-right-from-bracket"></i>
                                        <p>
                                            Çıkış
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>




                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

    </div>
    <div class="content-wrapper">

        @RenderBody()
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/AdminLTE/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/Content/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <script src="~/Content/AdminLTE/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/AdminLTE/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Content/AdminLTE/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/Content/AdminLTE/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/Content/AdminLTE/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/AdminLTE/dist/js/demo.js"></script>

    <script src="~/Scripts/localize.js"></script>
    <!-- Page specific script -->
    @if (ViewBag.ErrMsg != null)
    {
        <script>
            Swal.fire({
                title: 'Hata!',
                text: '@ViewBag.ErrMsg',
                icon: 'error',
                confirmButtonText: 'Bir Hata Oluştu.',
                html: '@ViewBag.ErrMsg'
            })
        </script>
    }
    @if (ViewBag.Success != null)
    {
        <script>
            Swal.fire({
                title: 'Başarılı',
                text: '@ViewBag.Success',
                icon: 'success',
                confirmButtonText: 'Güzel',
                html: '@ViewBag.Success'
            })
        </script>
    }
    @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                title: 'Başarılı',
                text: '@TempData["Success"].ToString()',
                icon: 'success',
                confirmButtonText: 'Güzel',
                html: '@TempData["Success"].ToString()'
            })
        </script>
    }
    @if (TempData["ErrMsg"] != null)
    {
        <script>
            Swal.fire({
                title: 'Hata!',
                text: '@TempData["ErrMsg"].ToString()',
                icon: 'error',
                confirmButtonText: 'Bir Hata Oluştu.',
                html: '@TempData["ErrMsg"].ToString()'
            })
        </script>
    }
    <script>

        $(".main-sidebar").css("height", "100vh");

    </script>
    @RenderSection("Script", required: false)
</body>
</html>
